:root {
  // Color pallete
  --main: #ffffff;
  --sub: #000000;
  --slayout: #2a9d8f;
  --slayout2: #f3f9f4;
  --slayout3: #39b9aa;
  --slayout4: #9dd9cf;
  --mlayout: #264653;
  --pcolor: #e9c46a;
  --scolor: #f4a261;
  --calend: #1267d0;
  --calend2: #e7effa;
  --scolor2: #ffd7b6;
  --special: #e76f51;
  --greyish: #f7f7f7;
  --alert: #dc3545;

  // Size
  --dheight: calc(100vh - 0.1px);
  --dwidth: calc(80vw - 0.1px);
}

$dheight: calc(100vh - 0.1px);
$dwidth: calc(80vw - 0.1px);

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;

  position: relative;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--main);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--mlayout);
  }
}

.App {
  display: flex;
  width: 100vw;
}

.header {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: var(--slayout) !important;
  transition: flex 0.5s;

  &.appbar {
    position: inherit !important;
    height: 100%;
    max-width: 100%;
    left: 0 !important;
    box-shadow: 0px 2px 4px -1px var(--mlayout), 0px 4px 5px 0px var(--mlayout), 0px 1px 10px 0px var(--mlayout);
  }

  & .container,
  & .toolbar {
    padding: 0;
    height: 100%;
  }

  & .main-logo {
    width: 100%;
    padding: 15px;
    background-color: var(--mlayout);
    flex-grow: 0;
  }
}

.frontpage.cover {
  display: block;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 12.5em 7.5%;

  align-items: center;
  justify-content: center;
}

.home {
  .img-div {
    box-shadow: 10px 0 rgba(42, 157, 143, 0.75);
    border-radius: 50%;
  }

  .img-avatar {
    background-repeat: no-repeat;
    height: 325px;
    transition: transform 0.75s ease-in-out;

    border-radius: 50%;
    margin: 0.75rem;
  }

  .text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    width: fit-content;

    font-family: 'Poppins', sans-serif;
    text-align: left;

    > * {
      width: auto;
      justify-content: center;
      text-align: center !important;
    }
  }
}

.say-hi {
  font-size: 1.5rem;
  font-weight: bold;
}

.my-name {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--special);
}

.passionate {
  display: inline-flex;

  font-size: 1.5rem;
  font-weight: bold;

  .adjective {
    padding: 0 0.5rem;
    white-space: nowrap;

    &.false {
      animation: show 1s steps(40, end);
    }

    &.true {
      animation: hide 1s steps(40, end);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.job-title {
  padding-bottom: 1rem;

  letter-spacing: 0.15rem;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--special);
}

.who {
  display: inline-flex;
  padding-bottom: 1rem;

  letter-spacing: 0.1cap;
  font-size: 1.5rem;
  font-weight: bold;

  .on {
    width: fit-content;
    min-width: fit-content;
    padding-right: 0.5rem;
  }

  .text-wrapper {
    position: relative;
    height: 2rem;
    width: 100%;
  }

  .journey {
    color: var(--slayout);
    text-wrap: nowrap;

    transition: transform 0.6s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }
}

.content {
  flex: 1;
  transition: flex 0.5s;
}

.drawer {
  height: 100vh;
}

.navBar:hover + .content {
  flex: 3;
}

.header-toggler {
  display: block !important;
  z-index: 1 !important;
  top: 50vh;
  left: 1em;

  min-width: 40px !important;
  padding: 5px !important;
  margin: 0px !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2) !important;
}

.header-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  place-content: center;
}

.header-btn {
  color: var(--main) !important;
  padding: 1em 0 !important;

  &:hover {
    background-color: var(--slayout3) !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
    padding: 1em 2em !important;
  }
}

.header-hide.wrapper {
  .hide-button {
    color: var(--main) !important;
    padding: 1em 0 !important;
    line-height: 1.75;
  }
}

.direct-wrapper {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 3rem;
}

.other-direct {
  display: flex;
  gap: 2rem;
  align-items: center;

  & :hover {
    font-size: 2.5em;
    cursor: pointer;
  }
}

.title {
  display: block;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  align-self: center;
  text-align: center;

  padding-right: 2rem;
  padding-left: 2rem;
  border-right: 2px solid;
  border-left: 2px solid;
  border-image-slice: 2;

  &.light {
    border-image-source: linear-gradient(
      to bottom,
      var(--main) 0%,
      var(--greyish) 10%,
      var(--sub) 50%,
      var(--greyish) 90%,
      var(--main) 100%
    );
  }

  &.dark {
    border-image-source: linear-gradient(to bottom, #757978 0%, var(--greyish) 30%, white 50%, var(--greyish) 70%, #757978 100%);
  }
}

.details {
  width: 100%;
  text-align: left;
  align-self: center;

  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 2rem;

  .sub-details {
    position: relative;

    padding-left: 0.5em;
    padding-top: 1em;

    &::before {
      content: '.';
      position: absolute;
      bottom: 0.25em;
      left: 0;
    }
  }

  &.skills {
    text-align: center;
    font-size: 0.7rem;
  }
}

.sub-title {
  display: block;
  position: relative;
  width: 100%;

  font-size: 10px;
  letter-spacing: 1px;
  white-space: nowrap;

  &.upper {
    padding-left: 80px;
    text-align: left;

    &.light {
      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 50px;
        height: 1px;
        background: var(--sub);
      }
    }

    &.dark {
      &::before {
        content: '';
        position: absolute;
        top: 7.5px;
        left: 0;
        width: 50px;
        height: 1px;
        background: var(--main);
      }
    }
  }

  &.lower {
    padding-right: 80px;
    text-align: right;

    &.light {
      &::before {
        content: '';
        position: absolute;
        top: 7.5px;
        right: 0;
        width: 50px;
        height: 1px;
        background: var(--sub);
      }
    }

    &.dark {
      &::before {
        content: '';
        position: absolute;
        top: 7.5px;
        right: 0;
        width: 50px;
        height: 1px;
        background: var(--main);
      }
    }
  }
}

.title-options {
  padding: 2em 0;

  &.active {
    text-decoration: underline;
  }
}
.main-title {
  width: 12rem;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  &.active {
    text-decoration: underline;
  }
}

.wrapper-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3.5rem;
  width: 100%;

  border-radius: 50px;
}

.skills-list {
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;

  list-style-type: none;

  & li {
    padding: 10px;
    border-radius: 15px;
    width: 100px;

    transition: all 0.3s ease-in;
    background-color: var(--main);
    border: 1px solid #eee;
  }
}

.skills-container {
  padding: 10px;
  width: 80px;
  height: 80px;

  background-color: var(--main);
  border-radius: 15px;
  transition: all 0.3s ease-in;
  border: 1px solid var(--main);

  & img {
    width: 100%;
  }
}

.project.wrapper {
  display: flex;
  padding: 1em;

  column-gap: 1em;
  font-size: 1em;
  border-radius: 15px;
  box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
  transition: all 0.3s ease-in;
  border: 1px solid #eee;

  .image {
    width: 350px;

    border-radius: 15px;
    align-self: center;

    & img {
      width: inherit;
      border-radius: 15px;
      border: 1px solid #ddd;
    }
  }

  & ul {
    list-style-type: none;
    padding: 0;

    & li {
      position: relative;
      padding-left: 2em;
    }

    & li::before {
      content: '•';
      position: absolute;
      top: -0.2rem;
      left: 0.75rem;
    }
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding-bottom: 0.75rem;
    flex-wrap: wrap;
  }

  h4 {
    display: flex;
    gap: 2px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding-bottom: 0.75rem;
    line-height: 1.5rem;
    flex-wrap: wrap;

    span {
      color: var(--slayout);
    }
  }

  h6 {
    font-weight: 550;
    line-height: 1.5rem;
    padding-bottom: 0.075rem;
    flex-wrap: wrap;
  }
}

.projects.details {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.project.navi {
  letter-spacing: 0.04rem;
  font-size: 1rem;
  padding-right: 25px;

  a {
    font-weight: bold;
    &:hover {
      &::after {
        content: '→';
        padding-left: 5px;
      }
    }
  }
}

.contact-types {
  display: flex;
  text-align: center;
  padding-top: 1em;
  gap: 1.5em;
}

.contact-type-wrapper {
  display: flex;
  flex-flow: column wrap;

  max-width: 50%;
  min-width: 350px;
  box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
  border: 1px solid #eee;
  padding: 1.5em;
  border-radius: 15px;
  align-items: center;

  .contact-icon-container {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1.5em;

    width: 65px;
  }

  & a {
    padding-bottom: 1em;
  }

  & p {
    font-size: 1em;
    letter-spacing: 0.007em;
  }
}

// Form
.form.intro {
  padding: 0.75em 0;
}

.form.content {
  input {
    padding: 0.75em 1.5em;
    margin: 1em 0;
    width: 100%;

    border: 1px solid #eee;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
  }

  textarea {
    padding: 0.75em 1.5em;
    margin: 1em 0;
    width: 100%;
  }

  .error-text {
    padding: 0.75em 0;
    color: var(--alert);
  }
}

.styled-button {
  padding: 0.75rem 0 !important;

  background-color: var(--slayout) !important;
  border-radius: 2.5rem !important;
  width: 10rem;
  color: var(--main) !important;
  font-weight: 500 !important;
  font-size: 0.875em !important;

  &:hover {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  }
}

.footer {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  padding-top: 2rem;

  text-align: center;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 75% 1.25px;
}

// Animation section
@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hidden {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@for $i from 1 through 4 {
  $startPercentage: ($i - 1) * 25;
  $midPercentage: $startPercentage + 12.5%;
  $endPercentage: $i * 25;

  @keyframes textFade#{$i} {
    #{$startPercentage}%,
    #{$endPercentage}% {
      opacity: 0;
    }

    #{$midPercentage} {
      opacity: 1;
    }
  }

  .journey-#{$i} {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    animation: textFade#{$i} 30s ease-in-out infinite;
    white-space: nowrap;
  }
}

/**********************/
/*   MAX WIDTH 900PX  */
/**********************/
@media (max-width: 900px) {
  .header-toggler {
    top: 1em;
  }

  .header.appbar,
  .drawer {
    position: sticky;
    padding-right: 0px !important;
    overflow-y: hidden;
  }
  .header.appbar,
  .drawer,
  .content {
    width: 100vw;
  }

  .section,
  .direct-wrapper {
    flex-direction: column;
  }

  .section {
    padding: 3.5em 1%;
    justify-content: center;
    > :not(.img-div) {
      padding: 3rem 0 !important;
    }
  }

  .home .img-avatar {
    height: 300px;
  }

  .about.details {
    padding: 0 2rem;
  }

  .skills.details {
    max-width: 90%;
    padding-left: 0;
  }

  .project.wrapper,
  .contact-me.details {
    flex-direction: column;
    padding: 2em 0;
    gap: 1em;
    text-align: center;
  }
  .project {
    .more-details ul {
      padding: 0 1em;
      text-align: left;
    }

    .navi {
      padding-right: 0;
    }

    &.wrapper h4 {
      place-content: center;
    }
  }

  .contact-types {
    padding: 2em 0;
    align-items: center;
    flex-direction: column;
  }

  .sub-details::before {
    content: '' !important;
  }

  .form.content input,
  .form.content textarea {
    width: 90%;
  }
}

/**********************/
/*   MAX WIDTH 400PX  */
/**********************/

@media (max-width: 400px) {
  .home .img-avatar {
    height: 275px;
  }

  .details {
    padding: 0 5%;
  }
}
