:root {
  --main: #ffffff;
  --sub: #000000;
  --slayout: #2a9d8f;
  --mlayout: #264653;
  --pcolor: #e9c46a;
  --scolor: #f4a261;
  --special: #e76f51;
  --greyish: #f7f7f7;
  --dheight: calc(100vh - 0.1px);
  --dwidth: calc(80vw - 0.1px);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--greyish) !important;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--main);
}
body::-webkit-scrollbar-thumb {
  background: var(--mlayout);
}

.App {
  display: flex;
}

.header {
  height: 100vh;
  flex: 0 0 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--slayout) !important;
  transition: flex 0.5s;
}
.header:hover {
  flex: 0 0 200px;
}
.header.appbar {
  position: inherit !important;
  height: 100%;
  max-width: 100%;
  left: 0 !important;
  box-shadow: 0px 2px 4px -1px var(--mlayout), 0px 4px 5px 0px var(--mlayout), 0px 1px 10px 0px var(--mlayout);
}
.header .container {
  padding: 0;
}
.header .toolbar {
  padding: 0;
}
.header .main-logo {
  width: 100%;
  padding: 15px;
  background-color: var(--mlayout);
}

.frontpage.cover {
  display: block;
  align-items: center;
  justify-content: center;
}

.section {
  width: 100%;
  height: 100vh;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.home .img-div {
  box-shadow: 10px 0 rgba(42, 157, 143, 0.75);
  border-radius: 50%;
}
.home .img-avatar {
  background-repeat: no-repeat;
  height: 325px;
  transition: transform 0.75s ease-in-out;
  border-radius: 50%;
  margin: 0.75rem;
}
.home .text-div {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  padding: 0 5rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.say-hi {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.my-name {
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--special);
}

.passionate {
  display: inline-flex;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--sub);
}
.passionate .adjective {
  padding-left: 0.5rem;
  color: var(--special);
  white-space: nowrap;
}
.passionate .adjective.false {
  animation: show 1s steps(40, end);
}
.passionate .adjective.true {
  animation: hide 1s steps(40, end);
}
.passionate .adjective:hover {
  cursor: pointer;
}

.job-title {
  padding-bottom: 1rem;
  letter-spacing: 0.15rem;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--special);
}

.who {
  display: inline-flex;
  padding-bottom: 1rem;
  letter-spacing: 0.1cap;
  font-size: 1.5rem;
  font-weight: bold;
}
.who .on {
  width: fit-content;
  min-width: fit-content;
  padding-right: 0.5rem;
}
.who .text-wrapper {
  position: relative;
  width: 100%;
}
.who .journey {
  padding-left: 0.5rem;
  color: var(--slayout);
  transition: transform 0.6s ease-in-out;
}
.who .journey:hover {
  cursor: pointer;
}

.content {
  flex: 1;
  transition: flex 0.5s;
}

.navBar:hover + .content {
  flex: 3;
}

.header-btn {
  color: var(--main) !important;
}

.title {
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  align-self: center;
  padding-right: 2rem;
  border-right: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, var(--main) 0%, var(--greyish) 10%, var(--sub) 50%, var(--greyish) 90%, var(--main) 100%);
}

.details {
  width: 100%;
  text-align: left;
  align-self: center;
  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 2rem;
}
.details .sub-details {
  position: relative;
  color: var(--special);
  padding-left: 0.5em;
  padding-top: 1em;
}
.details .sub-details::before {
  content: ".";
  position: absolute;
  bottom: 0.25em;
  left: 0;
}
.details.skills {
  text-align: center;
  font-size: 0.7rem;
}

.sub-title {
  display: block;
  position: relative;
  width: 100%;
  font-size: 10px;
  letter-spacing: 1px;
  white-space: nowrap;
}
.sub-title.upper {
  padding-left: 80px;
}
.sub-title.upper::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 50px;
  height: 1px;
  background: var(--sub);
}
.sub-title.lower {
  padding-right: 80px;
}
.sub-title.lower::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 50px;
  height: 1px;
  background: var(--sub);
}

.title-options {
  padding: 2em 0;
}
.title-options.active {
  text-decoration: underline;
}

.main-title {
  width: 12rem;
  white-space: nowrap;
  color: var(--slayout);
}
.main-title:hover {
  cursor: pointer;
}
.main-title.active {
  text-decoration: underline;
}

.wrapper-box {
  display: inline-flex;
  padding: 3.5rem;
  width: 100%;
  border-radius: 50px;
  background-color: var(--main);
}

.skills-list {
  display: grid;
  -ms-grid-columns: minmax(80px, 1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  list-style-type: none;
}
.skills-list li {
  padding: 10px;
  border-radius: 15px;
  width: 100px;
  transition: all 0.3s ease-in;
  background-color: var(--main);
  border: 1px solid #eee;
}

.skills-container {
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: var(--main);
  border-radius: 15px;
  transition: all 0.3s ease-in;
  border: 1px solid var(--main);
}
.skills-container img {
  width: 100%;
}

.project.wrapper {
  display: flex;
  margin-top: 1.5em;
  padding: 1.25em;
  border-radius: 15px;
  box-shadow: 0px 14px 28px rgba(134, 151, 168, 0.08);
  transition: all 0.3s ease-in;
  border: 1px solid #eee;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes textFade1 {
  0%, 25% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
}
.journey-1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  animation: textFade1 30s ease-in-out infinite;
}

@keyframes textFade2 {
  25%, 50% {
    opacity: 0;
  }
  37.5% {
    opacity: 1;
  }
}
.journey-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  animation: textFade2 30s ease-in-out infinite;
}

@keyframes textFade3 {
  50%, 75% {
    opacity: 0;
  }
  62.5% {
    opacity: 1;
  }
}
.journey-3 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  animation: textFade3 30s ease-in-out infinite;
}

@keyframes textFade4 {
  75%, 100% {
    opacity: 0;
  }
  87.5% {
    opacity: 1;
  }
}
.journey-4 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  animation: textFade4 30s ease-in-out infinite;
}

/*# sourceMappingURL=index.css.map */
